.store_cont {
    width: 100%;
    // max-width: 300px;
    background: #fff;
    height: 100%;
    max-height: 500px;
    overflow: auto;
}

.store_list {
    width: 100%;
    // max-width: 300px;
    background: #f0f0f0;
    padding: 0px 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 300;
        color: #444;
        margin: 0%;
    }
}

.pac_target_input {
    font-size: 1.5rem;
    padding: 1.5rem 3.75rem 1.5rem 2.75rem;
    background: #f2f2f2;
    border: none;
    font-weight: 300;
    flex: 1;
    position: relative;

    &:focus {
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.store_listdiv {
    background: #f0f0f0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    margin-bottom: 5px;
}

.infodot {
    display: flex;
    align-items: center;

    svg {
        margin-right: 5px;
        font-size: 10px;
    }
}

.get_map {
    height: 400px;
    width: 100%;
    border: none;
    filter: grayscale(100%);
}

.resdiv {
    width: 92%;
    margin: 0 auto 100px;
    padding: 10px 0px;
}

.lead {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    color: #a0a0a0;

    p {
        margin: 0;
    }
}

.tel {
    text-decoration: underline;
}



@media (max-width:992px) {
    .map_row {
        padding: 10px 0px 10px 10px !important;
    }

    .store_list {
        max-width: 100%;
    }

    .store_cont {
        max-width: 100%;
    }
}

@media (max-width:991px) {
    .map_row .md_col {
        margin-left: 0px !important;
    }

    .map_row {
        padding: 10px 10px 10px 10px !important;
    }
}